.skills-main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1366px;
  div {
    margin: 10px;
    color: white;
    border-radius: 20px;
    overflow: hidden;

    h2 {
      width: fit-content;
      border-bottom: 10px solid #2d2d57;
      padding: 15px;
    }
    div {
      padding: 20px 0;
      display: flex;
      img {
        margin: 0 10px;
        height: 70px;
      }
    }
  }
  .fab {
    position: sticky;
    bottom: 25px;
    left: 96%;
  }
}
