.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  span {
    font-family: "DM Serif Display", serif;
    font-size: 48px;
    font-weight: bolder;
  }

  .social {
    display: flex;
    flex-direction: row;

    img {
      height: 55px;
      width: 55px;
      margin: 5px;
    }
  }
}
