.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;
}
.sidebar .bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 360px;
  background: white;
  z-index: 999;
}
.sidebar .bg .links {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sidebar .bg .links a {
  font-size: large;
}
.sidebar .bg .links .list-items {
  cursor: pointer;
  padding: 10px;
}
.sidebar .bg .links .list-items a {
  font-size: xx-large;
}
.sidebar button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: fixed;
  top: 25px;
  left: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 620px) {
  .sidebar .bg {
    width: 260px;
  }
  .sidebar .bg .links .list-items a {
    font-size: large;
  }
  .sidebar .bg .links .list-items {
    padding: 5px;
  }
}

@media (min-width: 621px) and (max-width: 1566px) {
  .sidebar .bg {
    width: 300px;
  }
  .sidebar .bg .links .list-items a {
    font-size: x-large;
  }
}
