html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
* ::-webkit-scrollbar {
  width: 0;
}
body {
  background-color: #0c0c1d;
  color: lightgray;
}
a {
  text-decoration: none;
  color: inherit;
}
section {
  height: 100vh;
  scroll-snap-align: center;
}
.progress-bar {
  position: sticky;
  top: 0px;
  height: 10px;
  background-color: #620080;
}
